<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.FundraisingMapper">
	<select id="selectAllNow" parameterType="string" resultType="NowDTO">
		select * 
		from kakao_now 
		order by nidx ${sort} 
	</select>
	
	<select id="selectTopicNow" parameterType="map" resultType="NowDTO">
		select * 
		from kakao_now
		where ntopic = #{topic}
		order by nidx ${sort}
	</select>
	
	<select id="countAllNow" resultType="int">
		select count(*)
		from kakao_now
	</select>
</mapper>




