<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.NowMapper">
	<select id="selectAllNow" parameterType="string" resultType="NowDTO">
		select idx, topic, title, agency, price, pricestate, writeday, 
			   cheer, image0, head1, body1, image1, youtube1, 
			   tag1, tag2, tag3, subtopic, to_char(price, '999,999,999,999,999') as pricechar
		from kakao_now 
		order by idx ${sort} 
	</select>
	
	<select id="selectTopicNow" parameterType="map" resultType="NowDTO">
		select idx, topic, title, agency, price, pricestate, writeday, 
			   cheer, image0, head1, body1, image1, youtube1, 
			   tag1, tag2, tag3, subtopic, to_char(price, '999,999,999,999,999') as pricechar 
		from kakao_now
		where subtopic = #{subtopic}
		order by idx ${sort}
	</select>
	
	<select id="countAllNow" resultType="int">
		select count(*)
		from kakao_now
	</select>
	
	<select id="selectNowContent" parameterType="string" resultType="NowDTO">
		select idx, topic, title, agency, price, pricestate, writeday, 
			   cheer, image0, head1, body1, image1, youtube1, 
			   tag1, tag2, tag3, writer, subtopic, to_char(price, '999,999,999,999,999') as pricechar
		from kakao_now
		where idx = #{idx}
	</select>
	
	<select id="selectNowContentTag" parameterType="string" resultType="string">
		select name
		from kakao_now_subtopic
		where code = #{code}
	</select>
	
	<insert id="insertNow" parameterType="NowDTO">
		insert into kakao_now (idx, topic, title, agency, price, writeday, image0, head1, body1, image1, youtube1, tag1, tag2, tag3, subtopic, writer) 
		values (kakao_now_seq.nextval, #{topic}, #{title}, #{agency}, #{price}, sysdate, #{image0}, #{head1}, #{body1}, #{image1}, #{youtube1}, #{tag1}, #{tag2}, #{tag3}, #{subtopic}, #{writer})
	</insert>
	
	<update id="updateNow" parameterType="NowDTO">
		update kakao_now
		set title=#{title}, 
			 agency=#{agency}, 
			 price=#{price}, 
			 image0=#{image0}, 
			 head1=#{head1}, 
			 body1=#{body1}, 
			 image1=#{image1}, 
			 youtube1=#{youtube1}, 
			 tag1=#{tag1}, 
			 tag2=#{tag2}, 
			 tag3=#{tag3}
			 
		where idx=#{idx}
	</update>
	
	<delete id="deleteNow" parameterType="int">
		delete from kakao_now
		where idx=#{idx}
	</delete>
</mapper>




