@charset "UTF-8";
@import url('./Kakao.css');


a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

input {font-family: KakaoLight; color:#222; font-size: 18px;}
input:focus {outline:none; color:#222;}

body {
    margin: 0;
    padding: 0;
    font-family: KakaoLight;
}

ul {
   list-style:none;
   margin: 0px auto;
   padding-inline-start: 0px;
}

li {
	display: inline-block;
}

input {
	font-style: normal;
	border: none;
}

#top_wrap {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    height: 70px;
    background-color: #ffffffe6;
}

#wrap_logo {
	position: absolute;
	width: 115px;
	height: 70px;
	left: 45px;
}

#wrap_logo img {
	width: 100%;
}

#wrap_topCate {
    display: block;
    position: relative;
    width: 412px;
    height: 46px;
    margin: 0 auto;
    padding: 20px 0 0;
}

#wrap_topCate .inner {}
	
#wrap_topCate .inner li {
    float: left;
    position: relative;
    height: 31px;
    padding: 0 22px 0 21px;
}

#wrap_topCate .inner li span {
	font-size: 18px;
    font-family: KakaoBold;
    color: #444;
    text-decoration: none;
}

#wrap_topCate .inner li span.on {
    color: #dc287c;
}

#wrap_util {
    position: absolute;
    top: 0;
    right: 0;
}

#wrap_util .link_util {
	float: left;
    position: relative;
    width: 70px;
    height: 34px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

#wrap_util .link_fund {
	margin-top: 18px;
    margin-left: 13px;
    border: 1px solid #444;
    background-color: #444;
}

#wrap_util .link_login {
    margin: 18px 2px 0 5px;
    border: 1px solid #e7e7e7;
    color: #444;
}

#wrap_util .btn_search {
    float: left;
    position: relative;
    width: 71px;
    vertical-align: top;
}

#wrap_util .ico_search {
    width: 25px;
    height: 26px;
    margin: 2px 0 0 10px;
    background-position: -492px -511px;
}







#contents {
	padding-top:70px;
}

#wrap_tab {
	position: relative;
    width: 100%;
    height: 60px;
    background-color: #f7f8f9;
}

#wrap_tab .list_tab {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    padding: 0 185px;
    box-sizing: border-box;
}

#wrap_tab .list_tab li {
	width: 33.33%;
	float: left;
    width: 210px;
    text-align: center;
}


#wrap_tab .list_tab li a {
    display: block;
    height: 60px;
    font-size: 15px;
    color: #444;
    font-family: KakaoBold;
}

#wrap_tab .list_tab li a span {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 18px 16px 0;
    vertical-align: top;
    box-sizing: border-box;
}

#wrap_tab .list_tab li a .on {
    width: 45%;
    border-bottom: 1px solid #121212;
}




.group_catelist {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.group_catelist .inner_catelist {
	display:inline-block;
}

.group_catelist .inner_catelist ul {
    overflow: hidden;
    padding: 57px 17px 48px;
    text-align: center;
}

.group_catelist .inner_catelist li {
    float: left;
    width: 80px;
}

.group_catelist .inner_catelist a {
	display: block;
	filter: grayscale(100%); 
}

/* 컬러이미지 */
.group_catelist .inner_catelist a.on{
	filter: grayscale(0%); 
	font-family: KakaoBold;
}

.group_catelist .inner_catelist img {
	display: block;
	width: 34px;
	height: 34px;
	margin: 0px auto;
	
}

.group_catelist .inner_catelist span {
	display: block;
	padding-top: 15px;
	font-size: 15px;
}


.group_fundlist {
    position: relative;
    width: 1000px;
    margin: 0 auto 100px;
}

.group_fundlist .sort_cate {
	text-align: right;
}

.group_fundlist .sort_cate .inner_sort_cate {
	padding-right: 16px;
	display: inline-block;
}

.group_fundlist .sort_cate .box_sorting {
	margin-left: 27px;
	float: left;
	font-size: 18px;
    padding-left: 19px;
    color: #aaa;
    font-family: KakaoBold;
    cursor: pointer;
}

.group_fundlist .sort_cate .box_sorting.on {
	color: #444;
}



.group_fundlist .list_fund {
	overflow: hidden;
}

.group_fundlist .list_fund li {
    float: left;
    position: relative;
    width: 236px;
    margin: 30px 0 0 13px;
}

.group_fundlist .list_fund .link_content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.group_fundlist .link_content .img_box {
    display: block;
    overflow: hidden;
    border-radius: 15px;
}

.group_fundlist .link_content .img_box img {
	object-fit: cover;
	overflow: hidden;
    position: relative;
    width: 100%;
    height: 133px;
    border-radius: 15px;
}

.group_fundlist .link_content .text_box {
	display: block;
	font-family: KakaoLight;
    position: relative;
    height: 137px;
    padding-top: 15px;
    color: #666;
    background-color: #fff;
    vertical-align: bottom;
    white-space: normal;
    box-sizing: border-box;
    overflow: hidden;
}

.group_fundlist .text_box .title {
	display: block;
	overflow: hidden;
    max-height: 50px;
    font-size: 17px;
    line-height: 25px;
    text-overflow: ellipsis;
}

.group_fundlist .text_box .agency {
	display: block;
    overflow: hidden;
    margin-top: 8px;
    font-size: 13px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.group_fundlist .text_box .state {
	float: left;
    position: relative;
    width: 45%;
    height: 2px;
    margin-top: 24px;
}

.group_fundlist .text_box .state .state_ing {
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    border-radius: 1px;
    background-color: #e35396;
}

.group_fundlist .text_box .state .state_bar {
	display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #ebebeb;
}

.group_fundlist .text_box .price_goal {
	display: block;
    font-size: 15px;
    color: #444;
    font-family: KakaoBold;
    text-align: right;
    overflow: hidden;
    margin: 14px 0 0 2px;
    padding: 0 7px 0 4px;
    line-height: 18px;
}






#page_login {
	padding-top: 150px;
	margin: 0px auto;
}

#page_login #main {
	margin: 0px auto;
    max-width: 450px;
	min-height: 545px;
    padding: 60px 70px 50px;
    font-family: KakaoLight;
}

#page_login #main .title {
	margin-bottom: 30px;
	color: #444;
	font-size: 30px;	
}

#page_login #main .title .bold {
	font-family: KakaoBold;	
}

#page_login #main .title .light {
	display: block;
	margin: 2px 0px;
}

#page_login #login_form {
	margin: 0;
	padding: 0;
}

#login_form .item_box {
	position: relative;
    padding-right: 0;
}

#login_form .item_box div {
    width: 100%;
    height: 47px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;
}



#login_form .item_box input[type=text] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 46px;
    padding: 0 3%;
    margin-top: 20px;
}

#login_form .wrap_btn .submit_box {
	display: block;
	margin: 35px 0px 20px;
	padding: 15px 0px;
	background-color: #fee500;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	color: #333;
	cursor: pointer;
}

#login_form .wrap_btn .line_or {
	position: relative;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 0;
    line-height: 0;
}

#login_form .wrap_btn .lineL {
    display: inline-block;
    float: left;
    width: 43%;
    height: 0.1px;
    margin: 8px 0;
    background-color: #777;
    vertical-align: top;
    content: '';
}


#login_form .wrap_btn .lineR {
    display: inline-block;
    float: right;
    width: 43%;
    height: 0.1px;
    margin: 8px 0;
    background-color: #777;
    vertical-align: top;
    content: '';
}

#login_form .wrap_btn .txt_or {
	display: inline-block;
    width: 14%;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #909090;
}





#page_join {
	padding-top: 70px;
	margin: 0px auto;
}

#page_join #main {
	margin: 0px auto;
    max-width: 550px;
    min-width: 500px;
	min-height: 545px;
    padding: 60px 70px 50px;
    font-family: KakaoLight;
}

#page_join #main .title {
	margin-bottom: 30px;
	color: #444;
	font-size: 30px;	
}

#page_join #main .title .bold {
	font-family: KakaoBold;	
}

#page_join #main .title .light {
	display: block;
	margin: 2px 0px;
}

#page_join #main .join_table {
	width: 100%;
	margin: 0;
	padding: 0;
}

#page_join #main .join_table .item_th {
	padding: 15px 0px;
	width: 100px;
	color: #444;
}

#page_join #main .join_table .item_th div {
    margin-top: 20px;
}

.join_table .item_box div {
    width: 100%;
    height: 50px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;
}

.join_table .item_box input[type=text] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 49px;
    padding: 0 3%;
    margin-top: 20px;
}

.join_table .item_box input[readonly=readonly] {
    display: block;
    overflow: hidden;
    width: 90%;
    height: 49px;
    padding: 0 3%;
    margin-top: 20px;
    color: #888;
}

.join_table .id_check {
	display: inline-block;
	padding: 6px 13px;
	color: #CA3433;
	margin-bottom: 10px;
}


.join_table .pw_check {
	display: inline-block;
	padding: 6px 13px;
	color: #CA3433;
	margin-bottom: 10px;
}

#join_form .td_addr input[type=text] {
	padding: 8px 5px;
	width: 65%;
	height: 40px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;
}

#join_form .td_addr input[type=button] {
	float: right;
    padding: 7px 10px;
    margin-top: 8px;
    border-radius: 5px;
}

#join_form .td_phone select {
    margin-top: 20px;
    height: 40px;
    font-family: KakaoLight;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    color: #444;
}

#join_form .td_phone .link {
	display: inline-block;
	margin: auto 5px;
}

#join_form .td_phone input[type=text]{
	width: 100px;
    overflow: hidden;
    height: 40px;
    padding: 0 3%;
    margin-top: 20px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;
}

#join_form .td_email input[type=text]{
	width: 110px;
	overflow: hidden;
    height: 40px;
    padding: 0 3%;
    margin-top: 20px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;
}

#join_form .td_email select {
	margin-top: 20px;
    height: 40px;
    font-family: KakaoLight;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #444;
}


#join_form .wrap_btn .submit_box {
	display: block;
	margin: 35px 0px 20px;
	padding: 15px 0px;
	background-color: #fee500;
	text-align: center;
	font-size: 18px;
	border-radius: 4px;
	color: #333;
	cursor: pointer;
}




#wrap_content {
	padding-top: 70px;
	margin-bottom: 100px;
}

#wrap_content .wrap_top_summary {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 70px;
}

#wrap_content .wrap_top_summary .cont_visual {
	width: 100%;
	height: 100%;
	background-size: cover;
    background-color: rgb(59, 56, 32);
}

#wrap_content .wrap_top_summary .cover {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #0006;
}

#wrap_content .cover .front-pack {
	padding-top: 90px;
	position: relative;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
}

#wrap_content .cover .front-pack .tit_visual {
	display: block;
	width: 620px;
    max-height: 100px;
    margin: auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    font-family: KakaoBold;
    color: #fff;
}

#wrap_content .cover .front-pack .txt_sponsor {
	display: block;
    width: 620px;
    max-height: 57px;
    margin: 0 auto 25px;
    padding-top: 7px;
    font-size: 15px;
    color: #fff;
    opacity: .6;
    font-family: KakaoLight;
}

#wrap_content .cover .front-pack .hash_group {
    width: 100%;
    font-size: 12px;
    text-align: center;
    opacity: .95;
}

#wrap_content .cover .front-pack .topic_hash {
    color: #d36a54;
    background-color: #fbf0ee;
    display: inline-block;
    margin: 3px 2px 3px 3px;
    padding: 7px 16px 9px 15px;
    border-radius: 25px;
    font-size: 15px;
}

#wrap_content .cover .front-pack .link_hash {
	color: #678c3f;
    background-color: #f2f7ed;
    display: inline-block;
    margin: 3px 2px 3px 3px;
    padding: 7px 16px 9px 15px;
    border-radius: 25px;
    font-size: 15px;
}

#wrap_content #body_cont {
    position: relative;
}

#wrap_content #body_cont .cont_box {
    width: 700px;
    margin: 0 auto;
}

#wrap_content #body_cont .cont_box .tit_head {
	margin-top: 48px;
	display: block;
    font-weight: 400;
    font-size: 20px;
    font-family: KakaoBold;
    color: #444;
    word-break: break-all;
}

#wrap_content #body_cont .cont_box .txt_body {
	display: block;
	margin: 15px auto;
	font-size: 17px;
    line-height: 30px;
    color: #444;
    white-space: pre-line;
    word-break: break-all;
    font-family: KakaoLight;
}

#wrap_content #body_cont .cont_box .img_body {
	display: block;
    height: 394px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}










#wrap_write {
	padding-top: 70px;
	margin: 0px auto;
}

#wrap_write .top_title {
	height: 70px;
    color: #444;
    font-size: 30px;
}

#wrap_write .top_title .light {
    display: block;
    margin: 2px 0px;
}

#wrap_write .main {
    margin: 0px auto;
    width: 1000px;
    padding: 40px 70px 50px;
    font-family: KakaoLight;
}

#wrap_write .main th {
	text-align:left;
	width: 120px;
}

#wrap_write .main .tr_oneLine {
	height: 70px;
}

#wrap_write .main .bottom_line {
    width: 90%;
    height: 50px;
    line-height: 47px;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #F0F0F0;
}

#wrap_write .main input:focus {
	outline: none;
}

#wrap_write .main input[type=file] {
	font-size: 15px;
}

#wrap_write .main input[type=text] {
	width: 95%;
	height: 49px;
	padding: 0px 10px;
}

#wrap_write .main input[readonly=readonly] {
    width: 90%;
    height: 49px;
    padding: 0px 10px;
    color: #888;
}

#wrap_write .main .topic {
	visibility: hidden;
	margin-left: 15px;
    height: 35px;
    font-family: KakaoLight;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 7px;
    font-size: 15px;
    color: #444;
}

#wrap_write .main .subtopic{
	visibility: hidden;
	margin-left: 10px;
    height: 35px;
    font-family: KakaoLight;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 7px;
    font-size: 15px;
    color: #444;
}

#wrap_write .main input[type=radio]{
	display: inline-block;
    margin-right: 10px;
}

#wrap_write .main .input_tag {
	float: left;
    width: 29%;
    border-radius: 5px;
    height: 50px;
    margin-right: 10px;
    line-height: 47px;
    border-style: solid;
    border-width: 2px;
    border-color: #F0F0F0;
}

#wrap_write .main .input_tag input[type=text] {
    width: 85%;
    height: 49px;
    padding-left: 15px;
}

#wrap_write .main textarea {
    resize: none;
    width: 86%;
    padding: 2%;
    height: 200px;
    border: 2px solid #f0f0f0;
    font-size: 17px;
    font-family: KakaoLight;
    line-height: 22px;
    color: #222;
}

#wrap_write .main textarea:focus {
    outline: none;
}

#wrap_write .wrap_btn {
	margin: 0px auto 50px;
    width: 800px;
    padding: 0px 70px 20px 20px;
}

#wrap_write .wrap_btn .submit_box {
	display: block;
    margin: 0px auto 20px;
    padding: 15px 0px;
    background-color: #fee500;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
}

#wrap_write .wrap_btn .delete_box {
	display: block;
    margin: 0px auto 20px;
    padding: 15px 0px;
    border: 1px solid #ff4e45;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    color: #ff4e45;
    cursor: pointer;
}










#btn_update {
	z-index: 999;
	position: fixed;
    right: 40px;
    width: 100px;
    bottom: 40px;
    background-color: #ff8983;
    border-radius: 40px;
    filter: drop-shadow(0px 3px 4px rgba(140, 140, 140, 0.25));
}

#btn_update a {
	display: inline-block;
	width: 100%;
	text-align:center;
}

#btn_update span {
	color: #fff;
    font-size: 20px;
    font-family: KakaoLight;
    padding: 17px;
    display: block;
}



#wrap_footer {
	position: relative;
    z-index: 1;
    height: 250px;
    width: 100%;
    border-top: 2px solid #302f30;
    background-color: #302f30;
}

#wrap_footer .footer_box {
	overflow: hidden;
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

#wrap_footer .footer_box .link_home {
	display:inline-block;
    width: 140px;
    height: 28px;
    margin: 50px 0px;
    font-size: 0;
    line-height: 0;
    background: url(//t1.kakaocdn.net/together_image/common/tit_footer_180629.png) no-repeat 0 0;
    background-size: 140px 28px;
    text-indent: -9999px;
}

#wrap_footer .footer_box .left {
	width: 50%;
	float: left;
}

#wrap_footer .footer_box .right {
	width: 50%;
	float: right;
}


#wrap_footer .footer_box .info_me {
    width: 300px;
}

#wrap_footer .footer_box .info_me span {
	display: block;
	margin-bottom: 5px;
	font-size: 17px;
    color: #989798;
}

#wrap_footer .footer_box .link_info {
    display: inline-block;
    padding: 50px 50px;
    float: right;
}

#wrap_footer .footer_box .link_info span {
	font-family: KakaoLight;
	margin-bottom: 5px;
	font-size: 17px;
    color: #989798;
    text-align: right;
}

#wrap_footer .footer_box .link_info .contact {
	float: right;
    display: block;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    border: 1px solid #989798;
}

#wrap_footer .footer_box .link_info .contact span {
	display: inline-block;
	padding-top: 19px;
	font-size: 18px;
}
