<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  	<!-- 한글 설정 Filter -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.filter.EncodingFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 로그인 세션 체크 Filter -->
	<filter>
		<filter-name>LoginSessionFilter</filter-name>
		<filter-class>com.filter.LoginSessionFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginSessionFilter</filter-name>
		<url-pattern>/mypage</url-pattern>
		<url-pattern>/mypage.action</url-pattern>
		<url-pattern>/mypage/mydonation</url-pattern>
		<url-pattern>/mypage/mywrite</url-pattern>
		<url-pattern>/write</url-pattern>
		<url-pattern>/write.action</url-pattern>
	</filter-mapping>
</web-app>