<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.DonationMapper">
	<insert id="insertDonation" parameterType="hashmap">
		insert into kakao_donation(content_idx, member_idx, donation, comments, date_donation)
		values (#{content_idx}, #{member_idx}, #{price}, #{comment}, sysdate)
	</insert>
	
	<select id="selectMyDonation" parameterType="hashmap" resultType="MydonationDTO">
		select a.content_idx, a.donation, TO_CHAR(a.date_donation, 'YYYY.MM.DD') as date_donation, a.member_idx, b.title, b.image0
		from kakao_donation a left outer join kakao_board b
		on a.content_idx = b.idx
		where a.member_idx = #{member_idx}
	</select>
</mapper>




